.box-post {
  display: block;
  margin: 20px auto;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
}

.box-title{
  width: 95%;
  border-bottom: 2px solid #1abc9c;
  margin: 0 15px 10px 15px;
}

.input-title {
  width: 98%;
  height: 50px;
  border: 0;
  box-shadow: 0;
  color: #1abc9c;
  font-weight: bold;
  font-size: 24px;
  padding-left: 5px;
  font-family: Nexa;
  font-weight: bold;
}

.input-title::-webkit-input-placeholder {
  color: #1abc9c;
}

.input-title:-moz-placeholder {
  color: #1abc9c;
}

.input-title::-moz-placeholder {
  color: #1abc9c;
}

.input-title:-ms-input-placeholder {
  color: #1abc9c;
}

.input-desc {
  width: 97%;
  height: 6em;
  outline: none;
  border: 0;
  box-shadow: 0;
  padding-left: 20px;
  margin-bottom: 10px;
  font-family: Nexa;
  font-weight: bold;
}

.box-footer {
  height: 40px;
  width: 100%;
  background: #e4dfe1;
  padding: 0 15px;
}

.btn-post {
  border-radius: 100%;
  border: 0;
  margin-left: 10px;
}

.btn-min {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.btn-max {
  width: 50px;
  height: 50px;
  margin-top: -5px;
}

.img-box {
  width: 100%;
  margin: 0;
}